@import 'colors';

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $prussian-blue;
  display: flex;
  justify-content: space-between;

  .nameLabel {
    display: block;
    padding: 14px 16px;
    color: antiquewhite;
    align-content: center;
    font-size: x-large;
  }

  .portfolioLabel {
    display: block;
    padding: 14px 16px;
    color: antiquewhite;
    align-content: center;
    font-size: x-large;
  }

  li {
    display: inline;
    float: left;
    font-size: x-large;
  }

  li a {
    display: block;
    color: $isabelline;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: $maximum-blue-green;
  }

  .activeLink {
    background-color: $maximum-blue-green;
  }
}